.item {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  opacity: 1;
  cursor: default;
}

.loading {
  opacity: 0.5;
  filter: blur(1px);
}

.item:hover {
  background: linear-gradient(
    90deg,
    rgba(240, 240, 240, 0.9) 0%,
    rgba(0, 212, 255, 0.2) 10%,
    rgba(45, 45, 206, 0.3) 50%,
    rgba(0, 212, 255, 0.2) 90%,
    rgba(240, 240, 240, 0.9) 100%
  );
}

.user_icon {
  width: 30px;
  height: 30px;
}

.telephone_icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  position: relative;
  top: 2px;
  opacity: 0.5;
}

.telephone_icon:hover {
  opacity: 1;
}

.text {
  display: inline-block;
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0;
  max-width: 475px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: rgb(150, 150, 150);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 3px 8px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: black;
}

.item_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.likeButton {
  display: inline-block;
  position: relative;
  font-size: 24px;
  cursor: pointer;
  height: 35px;
  width: 30px;
  top: -2px;
  border: none;
  outline: none;
  background: none;
  overflow: hidden;
  opacity: 0.7;
  transition: all 250ms ease-in-out;

  &:hover {
    opacity: 1;
  }

  &::before {
    font-size: 1.7em;
    color: #000;
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::after {
    font-size: 2em;
    color: rgb(190, 0, 0);
    content: '♥';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s;
  }
  &.liked::after {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
