.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 20px;
}

.input {
  display: block;
  width: 220px;
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 5px;
}

.input:focus {
  outline: none;
}

.button {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: 5px;
  opacity: 0.5;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  opacity: 1;
}

.icon {
  width: 100%;
  height: 100%;
}
