@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: rgb(248, 248, 248);
  --background-hover: rgb(238, 238, 238);
  --appbar-background: rgb(228, 228, 228);
}

body {
  padding: 0 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.MuiInputLabel-root {
  font-size: 20px !important;
}
