.list {
  border: 1px solid #000;
  padding: 15px;
  width: 400px;
  border-radius: 10px;
  background-color: var(--background);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  list-style: none;
}

.list:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--background-hover);
}

.list li:not(:last-child) {
  margin-bottom: 10px;
}
